<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desi Echos</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="navbar">
        <a href="index.html" class="logo">Desi Echos</a>
        <div class="dropdown">
            <button class="dropbtn">City Classifieds
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#windsor">Windsor</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Itinerary
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="itinerary/dubai/dubai.html">Dubai</a>
                <a href="itinerary/dubai/north-carolina.html">North Carolina</a>
                <a href="itinerary/dubai/michigan.html">Michigan</a>
                <a href="itinerary/dubai/new-york.html">New York</a>
                <a href="itinerary/dubai/illinois.html">Illinois</a>
                <a href="itinerary/dubai/texas.html">Texas</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Food
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Coffee</a>
                <a href="#">Beer</a>
                <a href="#">Whiskey</a>
            </div>
        </div>
        <a href="#services">Services</a>
        <a href="#electronics">Electronics</a>
        <div class="dropdown">
            <button class="dropbtn">Apparel
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Flip Flops</a>
                <a href="#">Sunglasses</a>
                <a href="#">Sneakers</a>
                <a href="#">Designer Shirts</a>
            </div>
        </div>
    </div>

    <h1>Welcome to Desi Echos</h1>
    <p>Explore our website for information on travel, food, services, and electronics.</p>
</body>
</html>
